<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="css/homePageStyling.css">
    <script src="javascript/homePageScript.js"></script>
</head>
<body>
        <h1 id="welcome-header">Welcome</h1>
        <div class="option-buttons-div">
            <div class="first-buttons-div">
                <button class="option-button" id="learn-option">Learn</button>
                <button class="option-button" id="leaderboards-option">Leaderboards</button>
            </div>
            <div class="second-buttons-div">
                <button class="option-button" id="statistics-option">Statistics</button>
                <button class="option-button" id="settings-option">Settings</button>
            </div>
        </div>
        <div class="take-quiz-button-div">
            <button id="take-quiz-option">Take a quiz</button>
        </div>
</body>
</html>