<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginPageStyling.css"/>

</head>
<body>
    <h1 id="welcome-header">Welcome to the HL acronym learning platform!</h1>
    <div id="sign-in-container">
        <div id="form">
            <h2 class="makeWhite">Sign in</h2>
            <input id="username-login-input" type="text" placeholder="Username" required>
            <input id="password-login-input" type="password" placeholder="Password" required>
            <p class="signup makewhite"><a id="sign-up-btn">Sign up</a></p>
            <button class="Button" id="login-button">Login</button>
        </div>
    </div>

    <div id="sign-up-container">
        <div id="form">
            <h2 class="makeWhite">Sign up</h2>
            <div id="username-section">
                <input id="username-input" type="text" placeholder="Username" readonly>
                <button id="regenerate-button" onclick="generateUsername()">🔄</button>
            </div>
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Confirm Password">
            <p class="signup makewhite"><a id="sign-in-btn">Sign in</a></p>
            <button class="Button" id="signup-button">Sign Up</button>
        </div>
    </div>

    <script src="/javascript/loginScript.js"></script>
    
</body>
</html>