<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/quizQuestionPageStyling.css"/>
</head>
<body>
    <main>
        <h3 id="questionNumber">Question x of x </h3>
        <h1 id="question">Question</h1>

        <div class="options">
            <button id="buttonNumber1" class="option">XXXX</button>
            <button id="buttonNumber2" class="option">XXXX</button>
            <button id="buttonNumber3" class="option">XXXX</button>
            <button id="buttonNumber4" class="option">XXXX</button>
        </div>
    </main>
</body>
</html>