<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/settingsPageStyle.css">
    <script src="javascript/settingsPageScript.js"></script>
</head>
<body>

    <header>
        <a class="back-button" id="back-page-button">🔙</a>
        <h1 id="settings-header">Settings</h1>
        <a class="back-button-hide">HH</a>

    </header>

<div class="settings-buttons-container">
    <div class="first-options">
        <button class="option-button" id="change-username-button">Change username</button>
    </div>
    <div class="second-options">
        <button class="option-button-red" id="reset-stats-button">Reset Statistics</button>
        <button class="option-button-red" id="logout-button">Logout</button>
    </div>
</div>

</body>
</html>